.hover{
   
}

.position{
    
    position :absolute;
    display: flex; 
    padding:50px;
    margin:auto;
    background-color: white;
    height: 25px;
    padding: 25px;
    justify-content: center;
  align-items: center;
  border-radius: 5px;

}


.item-col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Blurimg{
    backdrop-filter: brightness(60%);
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);

}

.imgsrc{

    margin:10px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */


}